
<html lang="en">
<head>
    <style>
        body {
         background-image: url('https://wallpaperaccess.com/full/512679.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .cont {
            position: relative;
            left: 600px;
            top: 50px;
            color: white;
            -webkit-text-stroke: 0.5px black;
        }
        .container1 {
            position: fixed;
            left: 50px;
            top: 150px;
            color: white;
        }
        .container2 {
            position: fixed;
            left: 200px;
            top: 150px;
            color: white;
        }
        .container3 {
            position: fixed;
            left: 350px;
            top: 150px;
            color: white;
        }
        .readlist {
            position: fixed;
            left: 80px;
            top: 370px;
        }


        /* //new added */
#home-brands {
  margin-top: -10px;
  background: black;
 
}
  #home-brands .row {
    margin: 0; 
}
  #home-brands [class*="col"] {
    height: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
    cursor: pointer; }
    #home-brands [class*="col"]:hover .overlay {
      background: rgba(0, 9, 18, 0.7); }
    #home-brands [class*="col"]:hover .bg {
      transform: scale(1.05); }
    #home-brands [class*="col"]:nth-of-type(-n+3) {
      height: 340px; }
      #home-brands [class*="col"]:nth-of-type(-n+3) .overlay {
        padding-top: 40px; }
    #home-brands [class*="col"]:nth-last-child(-n+3) {
     height: 100%; } /* thisssssssssssssssssssssssssss is what i was looking for the height of page*/
      #home-brands [class*="col"]:nth-last-child(-n+3) .overlay {
        padding-bottom: -40px; }
  #home-brands .bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .2s; }
  #home-brands .overlay {
    background: rgba(0, 9, 18, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    transition: background .2s; }
  #home-brands img {
    max-width: 170px;
    max-height: 50px;
    -moz-filter: brightness(0) invert(100%);
    -ms-filter: brightness(0) invert(100%);
    -o-filter: brightness(0) invert(100%);
    filter: brightness(0) invert(100%);
    filter: gray;
    }
.row {
  display: -ms-flexbox;
  display: flex;
    margin-right: -15px;
  margin-left: -15px;
height: 100%}
  @media (min-width: 576px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 768px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 992px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 1200px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }


@media (min-width: 576px) {
  
  .col-lg-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%; }
   
  
 
}

        /* //new added */
          /* sec added */
div.highlightTextOut a:before, div.highlightTextIn a:before
{
  
    position: absolute;
    
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

div.highlightTextOut a:hover:before, div.highlightTextIn a:hover:before
{
  
    transform: scale(1);
    opacity: 1;
}


div.highlightTextIn a
{
    color: rgb(255, 255, 255); 
}

div.highlightTextIn a:before
{
  color: rgb(255, 255, 255); 
    transform: scale(1.2);
} 
div.container
{
  
  width: 100%;
    font-family:Monospace;
    margin: 0 auto;
	padding: 2em 3em;

}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Monospace;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.gray
{
    background: #000000;
}
 /* sec added */

 @font-face{
  src:url(fonts/Tribal.ttf);
  font-family: tribal;
}


    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <!-- -- -->
         <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
         <!-- -- -->
</head>

<body>
  <div class="container gray highlightTextIn">
    <a ></a>
    <a ></a>
    <a ></a>
    <a ></a>
    <a ></a>
    <a alt="READING LIST" onclick="location.href = '/readlist';" id="readlist" style="font-family: tribal;">READING LIST</a>
    <a ></a>
    <a ></a>
    <a alt="HOME" onclick="location.href = '/home';" style="font-family: tribal;">HOME</a>
    <a ></a>
    <a ></a>
    <a alt="SIGN OUT"  onclick="location.href = '/';" style="font-family: tribal;" >SIGN OUT</a>
    <form method="POST" action='/search' style="margin-left: -200px; margin-top:-30px;" >
      <input style="font-family: triban;" name="Search" type="search" placeholder="Search"
          aria-label="Search">
  </form>
  </div>
  
    <section id="home-brands" style="height: 660px;">
        <div class="row">
                      <a onclick="location.href = '/novel';" id="novel" class="col-lg-4 ">
                <div class="bg" style="background-image:url(novel.jpg);"></div>
                <div class="overlay">
                  <div  style="font-family: tribal;font-size: 40px;color:white" >Novel</div>
                </div>
              </a>

              <a onclick="location.href = '/poetry';" id="poetry" class="col-lg-4 ">
                <div class="bg" style="background-image:url(poetry.jpg);"></div>
                <div class="overlay">
                  <div  style="font-family: tribal;font-size: 40px;color:white" >Poetry</div>
                </div>
                
              </a>
              <a onclick="location.href = '/fiction';" id="fiction" class="col-lg-4 ">
                <div class="bg" style="background-image:url(fiction.jpg);"></div>
                <div class="overlay">
                  <div  style="font-family: tribal;font-size: 40px;color:white" >Fiction</div>
                </div>
              </a>
    




                </div>
    </section>
    
    
</body>
</html>